<div class="container">
  <div class="bb8">    
    <div class="head">
    <div class="antenas"></div>
    <div class="head-inner">      
      <div class="bar"></div>
      <div class="bars2"></div>
      <div class="camera">
        <div class="part part1"></div>
        <div class="part part2"></div>
      </div>
      <div class="bars3">
        <div class="vertical-bar"></div>
        <div class="vertical-bar"></div>
        <div class="vertical-bar"></div>
        <div class="vertical-bar"></div>
        <div class="vertical-bar"></div>
      </div>
    </div>
    </div>
    <div class="body">
      <div class="orb">
        <div class="center">
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
        </div>
      </div>    
      <div class="orb">
        <div class="center">
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
        </div>
      </div>
      <div class="orb">
        <div class="center">
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
        </div>
      </div>
      <div class="orb">
        <div class="center">
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
        </div>
      </div>
      <div class="orb">
        <div class="center">
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
          <div class="arm"></div>
        </div>
      </div>
    </div>
    <div class="ground"></div>
  </div>
</div>
<div id="display-projects"></div>
<style type="text/css">


*{
  box-sizing:border-box;
}
body{
  background: #ffff;
}
.container,.bb8{
  display: flex;
  align-items:center;
  flex-direction:column;
  position: sticky !important;
}
.container{
  align-items:center;
  width:30vw;
  justify-content: space-between;

}
@keyframes goForward{
  20%{
    transform:translatex(40vw);
  }
  42%{
    transform:translatex(65vw);
  }
  50%{
    transform:translatex(65vw);
  }
  90%{
    transform:translatex(120vw);
  }
  99%{
    transform:translatex(1000vw);
  }
  100%{
    transform:translatex(5vw);
  }
}
.bb8{
  transform-origin:center center;
  animation:goForward 6s infinite ease-out;
}
*::before,*::after{
  position:absolute;
  display:block;
  content:"";
}
@keyframes move{
  20%{
    transform:rotate(40deg);
  }
  25%{
    transform:rotate(20deg);
  }
  40%{
    transform:rotate(-10deg);
  }
  70%{
    transform:rotate(30deg);
  }
  85%{
    transform:rotate(0deg);
  }
  95%{
    transform:rotate(-8deg);
  }
  100%{
    transform:rotate(0deg);
  }
}
.head{
  margin-top:70px;
  position:absolute;
  z-index:6;
  transform-origin:50% 180px;
  animation:move 6s infinite ease-out;
}
.head-inner{  
  width:150px;
  height:80px;
  background:#dde;
  position:absolute;
  margin-left:-75px;
  clip-path: ellipse(50% 100% at 50% 100%);
  box-shadow: 0px -2px 0px 4px #99f,
              0px -2px 3px 9px #dde,
              0px -2px 0px 12px #99f,
              inset 0px 0px 15px 3px gray;
}
.antenas{
  width:5px;
  height:30px;
  background:#66a;
  position:absolute;
  z-index:10;
  margin:-30px -10px;
  border-radius:4px;
}
.antenas::before{
  width:5px;
  height:18px;
  background:#66a;
  margin:15px -10px;
  border-radius:4px;
}
.antenas::after{
  width:10px;
  height:13px;
  background:#66a;
  margin:20px -1px;
  border-radius:4px;
}
.camera{
  width:35px;
  height:35px;
  border-radius:50%;
  background:lightskyblue;
  border:2px solid indigo;
  margin:25px 55px;
  transform-origin:center center;
  transform:scale(0.9);
}
.camera::before{
  width:7px;
  height:14px;
  border-radius:50%;
  background:rgba(255,255,255,0.8);
  transform:rotatez(45deg);
  margin:2px 5px;
  box-shadow:0px 0px 5px 3px white;
}
.camera::after{
  width:43px;
  height:43px;
  border-radius:50%;
  border:2px solid indigo;
  background:transparent;
  margin:-8px -8px;
}
.camera .part{
  background:lightskyblue;
  border:2px solid indigo;
  width:12px;
  height:12px;
  border-radius:50%;
  position:absolute;
}
.camera .part2{
  margin:33px 35px;
}
.camera .part1{
  width:7px;
  height:7px;
  margin:42px -2px;
}
.bar{
  width:100px;
  height:8px;
  border:2px solid indigo;
  background:lightgray;
  margin:8px 20px;
  position:absolute;
}
.bars2{  
  width:47px;
  height:10px;
  border:2px solid indigo;
  background:rgba(220,190,170,0.8);
  margin:30px 0px;
  position:absolute;
  border-bottom-right-radius:25px;
}
.bars2::after{  
  width:47px;
  height:7px;
  border:2px solid indigo;
  background:rgba(220,190,170,0.8);
  margin:-2px 96px;
  position:absolute;
  border-bottom-left-radius:25px;
}
.bars3{
  width:150px;
  height:22px;
  position:absolute;
  margin-top:-25px;
  display:flex;
  flex-direction:row;
}
.vertical-bar{
  height:22px;
  width:13px;
  border-radius:3px;
  background:goldenrod;
  border:2px solid indigo;
  box-shadow:inset -2px 1px 2px 0px whitesmoke;
}
.vertical-bar:nth-child(2n),.vertical-bar:nth-child(3){
  width:8px;
  margin-right:10px;
}
.vertical-bar:nth-child(1){
  margin-right:7px;
}
.vertical-bar:nth-child(4){
  margin-left:63px;
}
@keyframes rotate{
  20%{
    transform:rotate(359deg);
  }
  35%{
    transform:rotate(420deg);
  }
  65%{
    transform:rotate(629deg);
  }
  85%{
    transform:rotate(719deg);
  }
  100%{
    transform:rotate(720deg);
  }
}
.body{
  width:230px;
  height:230px;
  border-radius:50%;
  border:3px solid indigo;
  background:#dde;
  position:absolute;
  margin-top:140px;
  overflow:hidden;
  transform-origin:center center;
  animation:rotate 3s infinite ease-out;
  box-shadow:inset 0px 0px 35px 6px gray;
}
.orb{
  width:100px;
  height:100px;
  border-radius:50%;
  border:3px solid indigo;
  margin:63px;
  z-index:3;
  position:absolute;
  background:#eef;
  box-shadow: inset 0px 0px 0px 8px goldenrod,
              inset 0px 0px 0px 10px indigo,
              inset 0px 0px 0px 15px lightgray,
              inset 0px 0px 0px 17px indigo; 
}
/*
.center{
  width:20px;
  height:20px;
  border:5px solid grey;
  position:absolute;
  margin:38px;
  border-radius:50%;
  z-index:1;
  background:#dde;
  box-shadow:inset 0px 0px 0px 2px indigo;
}
.center::before{
  width:30px;
  height:30px;
  border-radius:10% 90% 0 10%;
  background:grey;
  margin:-10px 12px;
  transform:rotate(45deg);
  z-index:2;
}
*/
.arm{
  width:10px;
  height:15px;
  border-radius:0 0 6px 6px;
  position:absolute;
  background:goldenrod;
  box-shadow:0px 2px 0px 2px indigo;
  transform-origin:50% 0%;
  z-index:5;
}
.arm:before{
  width:4px;
  height:4px;
  border-radius:50%;
  margin:8px 3px;
  background:indigo;
}
.arm:nth-child(1){
  transform:translate(20px,-20px) rotate(45deg);
}
.arm:nth-child(2){
  transform:translate(20px,30px) rotate(135deg);
}
.arm:nth-child(3){
  transform:translate(-25px,-15px) rotate(-55deg);
}
.arm:nth-child(4){
  transform:translate(-20px,30px) rotate(-135deg);
}
.orb:nth-child(2){
  margin:-20px -30px;
}
.orb:nth-child(3){
  margin:-20px 160px;
}
.orb:nth-child(4){
  margin:130px 170px;
}
.orb:nth-child(5){
  margin:140px -40px;
}</style>
