<div class="container">
  <div class="banner">
    {% include mac.html %}
         <blockquote class="UI">
              <h1 class="quote">"RJ's UI kit"</h1>
              <span class="quote-p">
                     <p> "Components and Layouts made by myself, for everyone. Free to use!"</p>
              </span>
          </blockquote>
    </div>
  </div>

<style>
.container {
  display: flex;
  padding: 0px;
}
.banner {
  display: block;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.7) 70%), url(/images/UI.jpeg);
  background-size: cover;
  background-position: center;
  margin-left: 35px;
  margin-right: 35px;
  padding: 0px;
  width: 250vh;
  min-height: 65vh;
}
.quote {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2em;

}
.quote-p p {
  display: flex;
  justify-content: center;
  color: white;
}
.UI {
  border-left: none!important;
}
@media(max-width: 992px) {
 .quote {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
 }
}
@media(max-width: 768px) {
 .quote {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
 }
}
@media(max-width: 480px) {
.banner {
   margin-left: 10px;
  margin-right: 10px;
}
 .quote {
    font-size: 1.5em;
    margin-top: 90px;
    margin-left: 21px;
}

 .quote-p p {
   padding: 20px;
   padding-left: 65px;
  color: white;
  font-size: 1em;
}
}


</style>
