<div class="container">
<div class="banner-project"></div>
</div>
<div class="center"><p></p></div>
<style>
.banner-project {
  position: relative;
  -webkit-transition: visibility 0s linear 0s,opacity .4s 0s;
  transition: visibility 0s linear 0s,opacity .4s 0s;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: block;
  background-image: url(/images/free.gif);
  margin-bottom: 5em;
  background-position: center;
  background-size: cover:
  padding: 5em;
  min-width: 50vh;
  min-height: 80vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-
}
</style>
