<div class="container">
  <div class="banner">
     <div class="p-responsive wrap" role="main">
               {% include mac.html %}

         <blockquote class="home">
            <h1 class="quote">I'm just a passionate developer who love sharing things!</h1>
              <span class="quote-p">
                     <p> "Learn the basics. And learn it to the fullest (...) When you reach expertise, you become autonomous and you start being creative."</p>
                     <p>Boris Paillard, CEO at lewagon</p>
              </span>
          </blockquote>
    </div>
  </div>
</div>

<style>
.container {
  display: flex;
  padding: 0px;
}
.banner {
  display: block;
  box-shadow: 0 0 35px rgba(0,0,0,0.3);
  background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.4) 70%), url(/images/van2.jpeg);
  background-size: cover;
  background-position: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom
  padding: 0px;
  width: 250vh;
  min-height: 65vh;
}
.quote {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2.5em;

}
.quote-p p {
  display: flex;
  justify-content: center;
   margin-bottom: 55px;
  color: white;
  font-size: 1em;
}
.home {
  border-left: none!important;

}
@media(max-width: 992px) {
 .quote {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
 }
}
@media(max-width: 768px) {
 .quote {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 45px;
  margin-left: 15px;
 }
}
@media(max-width: 480px) {
.banner {
   margin-left: 10px;
   margin-right: 10px;
}
 .quote {
    font-size: 1.5em;
    margin-top: 90px;
    margin-left: 60px;
}

 .quote-p p {
   padding: 30px;
  color: white;
  font-size: 1em;
}
}


</style>
