<div class="container">
<div class="banner"></div>
</div>
<div class="center"><p>Students learning to code at Le Wagon</p></div>
<style>
.banner {
  position: relative;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s linear 0s,opacity .4s 0s;
  transition: visibility 0s linear 0s,opacity .4s 0s;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: block;
  background-image: linear-gradient(rgba(39, 71, 118, 0.1), rgba(39, 71, 118, 0.2)), url(/images/student.jpeg);
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;
  width: 200vh;
  min-height: 50vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-
}
</style>
