<div class="container">
  <div class="banner">
    {% include mac.html %}
         <blockquote>
              <h1 class="quote">"If you're stuck in Vim, it's too late"</h1>
              <span class="quote-p">
                     <p> "Learn the basics. And learn it to the fullest (...) When you reach expertise, you become autonomous and you start being creative."</p>
                     <p>Boris Paillard, CEO at lewagon</p>
              </span>
          </blockquote>
    </div>
  </div>
<div class="center">
      <p>Students learning to code at Le Wagon</p>
</div>

<style>
.container {
  display: flex;
  padding: 0px;
}
.banner {
  display: block;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.7) 70%), url(/images/student.jpeg);
  background-size: cover;
  background-position: center;
  margin-left: 5em;
  margin-right: 5em;
  padding: 0px;
  width: 200vh;
  min-height: 65vh;
}
.quote {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2em;

}
.quote-p p {
  display: flex;
  justify-content: center;
  color: white;
}
</style>
