<div class="container">
<div class="banner-project">
     {% include mac.html %}

              <span class="quote-p">

                <blockquote>
                  <h1 class="quote">Open source project from "Freecodecamp repository"</h1>
                           <p>Fetch with Github API, thanks for sharing this useful ressources</p>
                </blockquote>
              </span>
</div>
</div>
<style>

.container {
  display: flex;
  padding: 0px;
}
.banner-project {
  display: block;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(180deg,rgba(0,0,0,.3),rgba(0,0,0,.5) 70%), url(/images/van.jpeg);
  background-size: cover;
  background-position: center;
   margin-left: 35px;
  margin-right: 35px;
  padding: 0px;
  width: 250vh;
  min-height: 70vh;
}
.quote {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2em;

}
.quote-p p {
  display: flex;
  justify-content: center;
  color: white;
}
</style>
