<script>
  (function() {
    var cx = '016288751832893148895:4-pj5d5sxq4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>


<style>
.gsc-search-button{
    border: none;
}
.gsc-search-button-v2{
    border: 1px solid #459069;
    border-color: #252525;
    background-color: #252525;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 3px;
  }
.gsc-search-button-v2:hover{
	opacity:1;
	background-color: #000;
    border-color: #252525;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.gsc-imput {
    border: none!important;
}

.gsc-input-box {
 box-shadow: 0 0 5px rgba(0,0,0,0.2);
 border-radius: 5px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 12px;
    border: none!important;

}

.gsib_a {
    padding: 5px 9px 4px 9px;
    border-top: none;
}
.gsib_a, .gsib_b {
    vertical-align: top;
    border: none;
}
.gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
    font-size: 18px;
    padding: 0.5em;
}
.gs-webResult div.gs-visibleUrl-long, .gs-promotion div.gs-visibleUrl-long {
    display: block;
    padding-left: 1.5em;
}
.gsc-preview-reviews, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em {
    color: #333;
    padding-left: 1.5em;
}

</style>

