<body>
	<div class="animated-title">
  <div class="text-top">
    <div>
      <span>ERREUR 404</span>
      <span></span>
    </div>
  </div>
  <div class="text-bottom">
    <div>Désolé, la page est en construction!</div>
  </div>
  <div class="graph"></div>
</div>
<style>
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showGraph {
  0% {
    transform: rotateX(90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
.animated-title {
  width: 80vmin;
  height: 80vmin;
  box-sizing: border-box;
  margin: auto auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  perspective: 1000px;
}
.animated-title > div {
  position: absolute;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.animated-title > div div {
  font-size: 8vmin;
  line-height: 10vmin;
  position: absolute;
  width: 100%;
  word-wrap: nowrap;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  height: 50%;
  top: 0;
  line-height: 10vmin;
  border-bottom: 1vmin solid #000;
}
.animated-title > div.text-top div {
  bottom: 0;
  padding-bottom: 2vmin;
  transform: translate(0, 100%);
  animation: showTopText 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.animated-title > div.text-top div span:first-child {
  color: #111;
}
.animated-title > div.text-top div span:last-child {
  color: #666;
}
.animated-title > div.text-bottom {
  height: 50%;
  bottom: 0;
}
.animated-title > div.text-bottom div {
  top: 0;
  padding-top: 1vmin;
  transform: translate(0, -100%);
  animation: showBottomText 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.75s;
}
.animated-title > div.text-bottom div span {
  color: #222;
}
.animated-title > div.graph {
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  atransform-origin: 0 66%;
  transform: rotate3d(1, 0, 0, 90deg);
  animation: showGraph 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  aanimation-timing-function: steps(5, end);
  opacity: 0;
  background: url();
  background-size: cover;
}
</style>
</body>
