
<div class="container">
 <img src="/images/RJ.png" alt="" class= "logo">
<blockquote>
  <p>Welcome Everyone!</p>
  <p> "Learn the basics. And learn it to the fullest (...) When you reach expertise, you become autonomous and you start being creative."
  <p>Boris Paillard, CEO at lewagon</p>
  </p>
</blockquote>
</div>


<style type="text/css">
.logo {
  position: relative;
  width: 200px;
  border: 1px solid #5D967C;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
 }
.container {
  display: flex;
  padding: 25px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

</style>
