@charset "UTF-8";

html, body {
  z-index: -10;
  height: auto;
  min-height: 100%;
}

img {
  max-width: 75%;

}

em img {
  max-width: 100%;
  margin-left: 0px;
}

body {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
