blockquote {
  border-left: 1px solid #5A5A5A;
  font-style: italic;
  margin-left: $space-1;
  padding: $space-1;
  font-weight: lighter;

}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
  font-weight: lighter;
  border-radius: 5px;

}

blockquote p {
  font-size: 1rem;
  color: #8A8E88;
}

blockquote a {
  color: #429EA3;
}