.social-icons-left, .social-icons-right {
  text-align: center;
  float: none;
}

.social-icons {
  font-size: 1.85rem;
  padding: 0.5em 0 0 0;
  width: 100%;
}

.social-icons a.fa {
  font-size: 25px;
  font-weight: lighter;
  color: #252525;
  cursor: pointer;
  opacity: 0.5;
  padding: 0.4em 0.5em;
  border: 1px solid #252525;
  background-color: #fff;
  border-radius: 50%;
}

.social-icons a.fa:hover {
  opacity: 1;
  color: #252525;
}

.social-icons iframe[title=Flattr] {
  position: absolute;
  top: 0.1em;
}
