.social-icons-left, .social-icons-right {
  text-align: center;
  float: none;
}

.social-icons {
  font-size: 1.85rem;
  padding: 0.5em 0 0 0;
  width: 100%;
}

.social-icons a.fa {
  font-size: 30px;
  color: #7CC6AD;
  cursor: pointer;
  opacity: 0.5;
  padding: 0.2em;
}

.social-icons a.fa:hover {
  opacity: 1;
  color: #459069;
}

.social-icons iframe[title=Flattr] {
  position: absolute;
  top: 0.1em;
}
