---
layout: default_post
---

<div style="text-align: center;">
  <img src="{{site.url}}/{{ page.headshot }}" class="head blur">
</div>
<div class="post">
  <header class="post-header">
  	<div class="center">
  	{% include social_links.html %}
  	</div>
    <h1 class="h2">{{ page.title }}</h1>
  </header>
  <article class="post-content">
  {{ content }}
  </article>
</div>


<style>

.head {
border-radius: 50%;
max-width: 25em;
filter: grayscale(25%), contrast(100%);
border: 1px solid #7CC6AD;
padding: 5px;
}

</style>
